@import "tailwindcss";

@keyframes flyToucan {
  0% {
    transform: translate(-120px, 40px) rotate(-10deg) scale(0.8);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  55% {
    transform: translate(52vw, -35px) rotate(8deg) scale(1.1);
  }

  100% {
    transform: translate(115vw, 18px) rotate(3deg) scale(0.9);
    opacity: 0;
  }
}

.toucan-flight {
  animation: flyToucan 4.8s ease-in-out forwards;
}